$black-bkg: #222222;
$pink-bkg: #f1e4e6;
$pink-color: #f18b99;
$header-icon-fill: #e8e8e8;
$header-icon-fill-hover: #f16d7f;
$nav-title-color: #f16d7f;
$nav-text-color: #6f6e6e;
$sales-bkg: #4e4544;
$sales-title-color: #f16d7f;
$sales-text-color: #ffffff;
$products-bkg: #f8f8f8;
$products-title-color: #222222;
$products-subtitle-color: #9f9f9f;
$products-color: #f16d7f;
$button-color: #ffffff;
$advantages-bkg: #222224;
$advantages-color: #fbfbfb;
$socials-bkg: #222224;
$socials-link-bkg: #ffffff;
$socials-link-bkg-hover: #f16d7f;
$socials-link-hover: #ffffff;
$socials-copyright-color: #fbfbfb;
$registration-title-bkg: #f8f3f4;
$registration-title-color: #f16d7f;