.nav-item__title{
    margin: 24px 0 0 0;
    text-transform: uppercase;
    color: var(--nav-title-color);
}

.nav-item__list{
    margin: 0 0 0 20px;
}

.nav-item__item{
    margin: 12px 0 0 0;
    color: var(--nav-text-color);
}

.nav-item__item:hover {
    cursor: pointer;
}

.nav-item__title:hover {
    cursor: pointer;
}