.socials {
    min-height: 79px;
    height: 79px;
    background-color: var(--socials-bkg);
}

.socials__wrap {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials_copyright {
    font-size: 16px;
    line-height: 19px;
    color: var(--socials-copyright-color);
}

.socials_list {
    display: flex;
    gap: 7px;
}

.socials_item-link {
    width: 32px;
    height: 32px;
    background-color: var(--socials-link-bkg);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials_item-link:hover svg{
    fill: var(--socials-link-hover);
}

.socials_item-link:hover {
    background-color: var(--socials-link-bkg-hover);
}

.socials_item-link:active {
    opacity: 0.5;
}