.socials {
    min-height: 79px;
    height: 79px;
    background-color: $socials-bkg;
}

.socials__wrap {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials__copyright {
    font-size: 16px;
    line-height: 19px;
    color: $socials-copyright-color;
}

.socials__list {
    display: flex;
    gap: 7px;
}

.socials__item-link {
    width: 32px;
    height: 32px;
    background-color: $socials-link-bkg;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__item-link:hover svg{
    fill: $socials-link-hover;
}

.socials__item-link:hover {
    background-color: $socials-link-bkg-hover;
}

.socials__item-link:active {
    opacity: 0.5;
}